@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    padding: 20px;
    background-color: white;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}

.contHeader{
    display: flex;
    justify-content: space-between;
}

.emme{
    color: white;
    background-color: #7B1FA2;
    border-radius: 100px;
    padding: 10px 15px;
}

.logo{
    width: 80px;
}

.left{
    display: flex;
    align-items: center;
    color: grey;
}

.left span{
    margin-left: 10px;
}

.right i {
    margin-right: 15px;
}

nav{
   /*  margin-top: 20px; */
    color: grey;
    background-color: white;
    box-shadow: 0px 1px grey;
    padding-bottom: 10px;
    position: sticky;
    top: 67px;
    right: 0;
    left: 0;
    margin-bottom: 50px;
}

nav span{
    margin-right: 20px;
}

.blue{
    color: #3367D6;
    box-shadow: 0px 5px #3367D6;
    padding-bottom: 8px;
}

hr{
    margin-top: 10px;
}


.cont{
    width: 60%;
    margin: 0 auto;
    overflow-y: auto;
    display: hidden;
}

.risp{
    padding: 20px 0px;
    color: rgb(75, 73, 73);
}

h1{
    margin-top: 25px;
    color: rgb(49, 47, 47);
}
